{% extends 'base.html.twig' %}

{% block title %}PhdOperations{% endblock %}

{% block body %}
    <h1>PhdOperations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ phd_operation.id }}</td>
            </tr>
            <tr>
                <th>UserId</th>
                <td>{{ phd_operation.userId }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ sPhone }}</td>
            </tr>
            <tr>
                <th>OpCodeId</th>
                <td>{{ phd_operation.opCodeId }}</td>
            </tr>
            <tr>
                <th>MainId</th>
                <td>{{ phd_operation.mainId }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ phd_operation.created ? phd_operation.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Sum</th>
                <td>{{ phd_operation.sum }}</td>
            </tr>
            <tr>
                <th>PayTransactionId</th>
                <td>{{ phd_operation.payTransactionId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('phd_operations_index') }}">back to list</a>



{% endblock %}
