<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="Windows-1251">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>{% block title %}Welcome! SB Admin 2  - Login SymDepartment {% endblock %}</title>



    {% block stylesheets %}
        <!-- Custom fonts for this template-->
        <link href="{{ asset('sbadmin2/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="{{ asset('sbadmin2/css/sb-admin-2.min.css') }}" rel="stylesheet">

        <!--script src="/j/landcacherswinstaller.js"></script>
        <script>window.sReferer = "<?php echo o($app, 'referer') ?>";</script-->
    {% endblock %}


</head>

<body class="bg-gradient-primary">

<div class="container" id="wrapperapp">
    <transition appear name="fade">
        <div  v-if="show">
            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">

                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block {{sFormBgImageCss}}"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">{{ 'Reset-Password'|trans }}</h1>
                                            {% if (isResetform) %}
                                                <p class="mb-4 d-none d-sm-block">{{ 'forgotPasswordSmallText'|trans|raw }}</p>
                                            {% endif %}
                                        </div>

                                        {% block vuepageerror %}{% endblock %}
                                        {% for label, messages in app.flashes %}
                                            {% for message in messages %}
                                                {% if (label == 'notice') %}
                                                    <div class="alert alert-danger">{{ message|raw }}</div>
                                                {% else %}
                                                    <div class="alert alert-success">{{ message|raw }}</div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}

                                        {% block content %}{% endblock %}
                                        <hr>
                                        {% if (isResetform == 0) %}
                                            <div class="text-center">
                                                <a class="small" href="{{ path('reset') }}">{{ 'Forgot Password'|trans }}?</a>
                                            </div>
                                        {% endif %}
                                        {%  if (isAuthform == 1 or isResetform == 1)%}
                                        <div class="text-center">
                                            <a class="small" href="{{ path('register') }}">{{ 'signup'|trans }}</a>
                                        </div>
                                        {%  endif %}

                                        {%  if (isAuthform == 0) %}
                                        <div class="text-center">
                                            <a class="small" href="{{ path('login') }}">{{ 'gotoLoginPageLink'|trans }}</a>
                                        </div>
                                        {%  endif %}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</div>

<div class="footer bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <span>Copyright &copy; andryuxa.ru 2019. Admin panel free template from <a href="https://startbootstrap.com/previews/sb-admin-2/" target="_blank">SB Admin-2</a></span>
            </div>
        </div>
    </div>
</div>
{% block javascript %}
<!-- Bootstrap core JavaScript -->

{# script charset="UTF-8" src="/j/sya.js"></script #}
<script src="{{ asset('sbadmin2/vendor/jquery/jquery.min.js') }}"></script>
<script src="/j/i.js"></script>

<script src="{{ asset('sbadmin2/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ asset('sbadmin2/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ asset('sbadmin2/js/sb-admin-2.min.js') }}"></script>
{% endblock %}

<link rel="stylesheet" type="text/css" href="/s/vendor/bootstrap4_sticky_footer.css">
</body>

</html>
