{% trans_default_domain 'sidebar' %}
 <!-- Sidebar -->
	<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">
		<!-- Sidebar - Brand -->
		<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/sp/public/">
			<div class="sidebar-brand-icon rotate-n-15">
				<!--i class="fas fa-laugh-wink"></i-->
				<img src="{{ asset('i/0.jpg') }}" style="max-width: 40px;">
			</div>
			<div class="sidebar-brand-text mx-3">{{ ''|sidebar_heading }}</div>
		</a>

		<!-- Divider -->
		<hr class="sidebar-divider my-0">

		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item active">
			<a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
				<i class="fas fa-fw fa-folder"></i>
				<span>{{ 'Sections'|trans }}</span>
			</a>
			<div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					{{ '/sp/public/phdadmin/'|draw_menu_item('Phd Admin')|raw }}
					{{ '/sp/public/phd/messages/'|draw_menu_item('Phd Admin messages')|raw }}
					{{ '/sp/public/'|draw_menu_item('Time manager', 'sidebar', [0, 1, 2])|raw }}
					{{ '/sp/public/exporttask'|draw_menu_item('Time manager export', 'sidebar', [0, 1, 2])|raw }}
					{{ '/sp/public/help'|draw_menu_item('Time manager help', 'sidebar', [0, 1, 2])|raw }}
					{{ '/p/'|draw_menu_item('Articles')|raw }}
					{{ '/sp/public/articles'|draw_menu_item('Articles (new)')|raw }}
					{{ '/sp/public/kxm'|draw_menu_item('KXM')|raw }}
					{{ '/p/articlecategories/'|draw_menu_item('Articles Categories')|raw }}
					{{ '/sp/public/changeuser/'|draw_menu_item('Change user')|raw }}
					{{ '/p/portfolio/'|draw_menu_item('Portfolio')|raw }}
					{{ '/sp/public/moderatus/'|draw_menu_item('Moderation')|raw }}
				</div>
			</div>
		</li>
	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>
	</ul>
	<!-- End of Sidebar -->
