{% trans_default_domain 'sidebar' %}
 <!-- Sidebar -->
	<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">
		<!-- Sidebar - Brand -->
		<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/p/">
			<div class="sidebar-brand-icon rotate-n-15">
				<!--i class="fas fa-laugh-wink"></i-->
				<img src="{{ asset('i/0.jpg') }}" style="max-width: 40px;">
			</div>
			<div class="sidebar-brand-text mx-3">Admin panel</div>
		</a>

		<!-- Divider -->
		<hr class="sidebar-divider my-0">

		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item active">
			<a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
				<i class="fas fa-fw fa-folder"></i>
				<span>{{ 'Sections'|trans }}</span>
			</a>
			<div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					{{ '/sp/public/phdadmin/'|draw_menu_item('Phd Admin')|raw }}
					{{ '/sp/public/'|draw_menu_item('Time manager')|raw }}
					{{ '/p/'|draw_menu_item('Articles')|raw }}
					{{ '/p/articlecategories/'|draw_menu_item('Articles Categories')|raw }}
					{{ '/p/portfolio/'|draw_menu_item('Portfolio')|raw }}
				</div>
			</div>
		</li>
	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>
	</ul>
	<!-- End of Sidebar -->
